server:
  port: 8033

spring:
  application:
    name: api-gateway
  data:
    redis:
      host: localhost
      port: 6379
      timeout: 1000ms
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: false

  cloud:
    gateway:
      routes:
        - id: backend_service
          uri: http://localhost:8081
          predicates:
            - Path=/api/**
          filters:
            # We will add our custom filters programmatically or here
            # - name: CustomRateLimit
            # - name: CustomAuth

management:
  endpoints:
    web:
      exposure:
        include: prometheus, health, info, metrics
  metrics:
    distribution:
      percentiles-histogram:
        http.server.requests: true

logging:
  level:
    org.springframework.cloud.gateway: INFO
    org.springframework.security: INFO
    org.springframework.web.server.adapter.HttpWebHandlerAdapter: INFO
